header {
    display: flex;
    justify-content: center;
}

#logo-header {
    width: 250px;
}

nav{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: rgb(114, 114, 114);
    border-radius: 5px;
}

.principal-card {
    background-color: rgb(179, 179, 179);
}